.layout__children  {
    position: absolute;
    top: var(--header-height);
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    height: calc(100% - var(--header-height));
    // height: 100%;
}