.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #E7E9EB;
  height: 100vh;
  width: 240px;

  .sidebar__element {    
    padding: 5px 5px;
    color: #000000;
    cursor: pointer;

    &:hover {
      background-color: #cccccc;
    }
    &:active {
      background-color: #04AA6D;
      color: #ffffff;
    }
  }
  .sidebar__element-selected {   
    background-color: #04aa6d;
  }
}
